@bg-color:#b7d4a8;
@btn-color: #96b9b1;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font: bold 20px "courier";
}
#main{
  width: 360px;
  height: 450px;
  margin:20px auto;
  background-color: @bg-color;
  border-radius: 20px;
  border: 6px #333333 solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

#stage{
  width: 304px;
  height: 304px;
  border: 2px solid #333333;
  position: relative;

  #snake>div{
    width: 10px;
    height: 10px;
    background-color: #000000;
    border:1px solid @bg-color;
    position: absolute;
  }

  #food{
    top:50px;
    left: 100px;
    width: 10px;
    height: 10px;
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;

    &>div{
      width: 4px;
      height: 4px;
      background-color: #000000;
      transform: rotate(45deg);
    }
  }
}

#scoreboard{
  height: 20px;
  width: 300px;
  display: flex;
  justify-content: space-between;
}

#controlBoard{
  width: 300px;
  display: flex;
  justify-content: space-around;
}

#gameControl{
  &>button{
  background-color: @btn-color;
  font-size: 8px;
  font-weight: bold;
    height: 30px;
    width: 40px;
    margin:0 6px;
  }
}

#directionControl{
  &>button{
  font-size: 16px;
  font-weight: bold;
    height: 30px;
    width: 30px;
  }
}

#alert-box {
  position: absolute;
  visibility: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.alert-content {
  padding: 10px;
  width: 280px;
  background-color: #fff;
  border: 2px solid #000;
  text-align: center;
}

#pause{
  font-size: 30px;
  font-weight: bolder;
}